# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/terraform.tfvars
terraform/.terraform.lock.hcl

# Terraform bootstrap
terraform-bootstrap/.terraform/
terraform-bootstrap/*.tfstate
terraform-bootstrap/*.tfstate.*